<template>
  <div>
    <v-layout :wrap="true">
      <v-flex xs12>
        <v-card>
          <v-date-picker
            v-model="date"
            full-width
            locale="es"
            :min="min"
            :max="max"
            @change="getDollar(date)"
          >
          </v-date-picker>
        </v-card>
        <v-card color="error" dark>
          <v-card-text class="display-1">
            <p class="text-center">{{ value }} - {{ date }}</p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import axios from "axios";
import { mapMutations } from "vuex";

export default {
  name: "Home",

  data() {
    return {
      date: new Date().toISOString().substr(0, 10),
      value: null,
      min: "1984",
      max: new Date().toISOString().substr(0, 10),
    };
  },

  methods: {
    ...mapMutations(["showLoading", "hideLoading"]),
    async getDollar(date) {
      let arrayDate = date.split(["-"]);
      let ddmmyyyy = arrayDate[2] + "-" + arrayDate[1] + "-" + arrayDate[0];

      try {
        this.showLoading({
          title: "Accediendo a informacion",
          color: "secondary",
        });
        const response = await axios.get(
          `https://mindicador.cl/api/dolar/${ddmmyyyy}`
        );
        if (response.data.serie.length > 0) {
          this.value = "$ " + response.data.serie[0].valor;
        } else {
          this.value = "No disponible";
        }
      } catch (error) {
        console.log(error);
      } finally {
        this.hideLoading();
      }
    },
  },

  created() {
    this.getDollar(this.date);
  },

  components: {},
};
</script>
